.card {
    border: 1px dotted brown;
    padding: 10px;
    border-radius: 10px;
    width: 33%;
    margin: 2%;
    background-color: #f7c6a6;
    overflow: hidden;
}
.card > h1 {
    min-height: 80px;
}
@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}